<%inherit file="dashboard.phtml"/>
<%block name="content">
<div id="principal_container">
    <div class="row_4x row_margin_left">
        <div class="container_block container_info">
            <h2 class="title_container">${lang('monit', 'stats', 'Stats')}</h2>
            <div class="container_content">
            <p>Total servers monitored: <span id="num_servers"></span></p>
            <p><span class="error"><strong>Servers down</strong></span>: <span id="num_down" class="error"></span></p>
            </div>
        </div>
        <div class="container_block container_soft">
            <h2 class="title_container">Servers more loaded</h2>
            <div class="container_content">
                <canvas id="chart_servers_loaded" width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="row_8x row_margin_right">
        <div class="container_block container_warning">
        <h2 class="title_container">Medium CPU use</h2>
        <div class="container_content">
            <canvas id="chart_medium_cpu" width="100%"></canvas>
        </div>
        </div>
        <div class="container_block container_soft">
        <h2 class="title_container">Total network use</h2>
        <div class="container_content">
            <canvas id="chart_network" width="100%"></canvas>
        </div>
        </div>
    </div>
</div>
</%block>
<%block name="jscript_block">
<script language="Javascript" src="${make_media_url('js/jquery.min.js', 'admin')}"></script>
<script language="Javascript" src="${make_media_url('js/Chart.min.js', 'monit')}"></script>
<script src="${make_media_url('js/luxon.min.js', 'monit')}"></script>
<script>
$(document).ready(function () {
        
        $.ajax({
        url: "${url_for('admin_app.get_monit_dashboard')}",
        data: {},
        /*order_id: order_id,*/
        success: function (data) {
            
            $('#num_servers').html(data.num_servers);
            $('#num_down').html(data.num_down);
            
            //orders=data.
            /*orders_type=['weborder', 'tradeinn', 'amazon_vendor', 'edi'];
            
            final_orders_date=[];
            
            data_types_order=[];
            
            for(i in orders_type) {
                
                data_types_order.push(data.type_orders[orders_type[i]]);
                
                final_orders_date[orders_type[i]]=[];
                
            }*/
            
            avg_cpu=data.avg_cpu;
            subs_cpu=100-avg_cpu;
            
            data_types_cpu=[avg_cpu, subs_cpu];
            
            var ctx = $('#chart_medium_cpu');
            
            var chart_medium_cpu = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['CPU used', 'CPU free'],
                    datasets: [{
                        label: 'CPU Percent',
                        data: data_types_cpu,
                        backgroundColor: [
                            'rgba(231, 76, 60, 0.8)',
                            'rgba(46, 204, 113, 0.8)',
                                                    ],
                        borderColor: [
                            'rgba(231, 76, 60, 1)',
                            'rgba(46, 204, 113, 1)',
                        ],
                        borderWidth: 1
                    }]
                }
                
            });
            
            
            var ctx_net = $('#chart_network');
            
            /*background_send="rgba(255, 99, 132, 0.8)";
            background_recv="rgba(54, 162, 235, 0.8)";*/
            /*background_amazon="rgba(255, 206, 86, 0.8)";
            background_edi="#2da462";*/
            
            background_send="#28a745";
            background_recv="#007bff";
            
            labels=[];
            /*
            for(let x=7;x>=0;x--) {
                
                d=luxon.DateTime.now().setZone('Europe/Madrid').minus({ days: x }).toISODate()
                
                if(data.orders_date.hasOwnProperty(d)) {
                
                    for(let i in orders_type) {
                        console.log(data.orders_date[d]);
                        if(!data.orders_date[d].hasOwnProperty(orders_type[i])) {
                        
                            //data.orders_date[d][orders_type[i]]=0;
                            final_orders_date[orders_type[i]].push(0);
                        
                        }
                        else {
                            
                            final_orders_date[orders_type[i]].push(data.orders_date[d][orders_type[i]]);
                            
                        }
                        
                    }
                
                }
                else {
                    
                    for(let i in orders_type) {
                        
                        final_orders_date[orders_type[i]].push(0);
                    
                    }
                    
                }
                
                labels.push(d);
                
            }*/
            
            final_net_date={'send': [], 'recv': []}
            
            labels=[]
            
            for(i in data.net_info) {
            
                labels.push(i);
            
                /*final_net_date['send'].push(data.net_info[i]['send'].reduce((a, b) => a + b, 0));
                final_net_date['recv'].push(data.net_info[i]['recv'].reduce((a, b) => a + b, 0));*/
                
                final_net_date['send'].push(data.net_info[i]['send'].reduce((a, b) => a + b, 0));
                final_net_date['recv'].push(data.net_info[i]['recv'].reduce((a, b) => a + b, 0));
            
            }
            
            var config_net = {
                    type: 'line',
                    data: {
                        labels: labels, //['2020-01-01', '2020-01-02', '2020-01-03'],
                        datasets: [{
                            label: "Bytes received",
                            data: final_net_date['recv'],
                            fill: false,
                            borderColor: background_recv,
                            backgroundColor: background_recv,
                            pointBorderColor: background_recv,
                            pointBackgroundColor: background_recv,
                            pointRadius: 0,

                            //borderDash: [5, 5],
                        }
                        ,{
                            label: "Bytes sended",
                            data: final_net_date['send'],
                            fill: true,
                            lineTension: 0.5,
                            //borderDash: [5, 5],
                            borderColor: background_send,
                            backgroundColor: background_send,
                            pointBorderColor: background_send,
                            pointBackgroundColor: background_send,
                            pointRadius: 0,
                        },
                        ]
                        
                    },
                    options: {
                        
                        showXLabels: 10,
                        animation : false,
                        responsive: true,
                        legend: {
                            position: 'bottom',
                        },
                        hover: {
                            mode: 'label'
                        },
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Date'
                                },
                                ticks: {
                                    maxTicksLimit: 8,
                                    
                                    // Return an empty string to draw the tick line but hide the tick label
                                    // Return `null` or `undefined` to hide the tick line entirely
                                       userCallback: function(value, index, values) {
                                        return value;
                                    }
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Bytes'
                                },
                                ticks: {

                                    min: 0
                                    
                                }
                            }]
                        },
                        title: {
                            display: true,
                            text: 'Network use'
                        }
                    }
                };
                
                var chart_net = new Chart(ctx_net, config_net);
                
                // CPU use
                
                data_hosts=[];
                data_cpu=[];
                
                for(i in data.loaded_cpu) {
                    
                    data_hosts.push(i);
                    data_cpu.push(data.loaded_cpu[i]);
                    
                }
                
                var ctx_servers_loaded = document.getElementById('chart_servers_loaded').getContext('2d');
                var chart_servers_loaded = new Chart(ctx_servers_loaded, {
                    type: 'horizontalBar',
                    data: {
                        labels: data_hosts,
                        datasets: [{
                            label: 'CPU use',
                            data: data_cpu,
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                            ],
                            borderColor: [
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(54, 162, 235, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                
                setInterval(function () {
                    
                    //console.log(chart_servers_loaded);
                    $.ajax({
                        url: "${url_for('admin_app.get_monit_dashboard')}",
                        data: {},
                        /*order_id: order_id,*/
                        success: function (data) {
                            
                            //chart.data.labels.push(label);
                            $('#num_servers').html(data.num_servers);
                            $('#num_down').html(data.num_down);
                            
                            //Cpu loaded
                            
                            console.log('Updating cpu loaded');
                            
                            data_hosts=[];
                            data_cpu=[];
                            
                            for(i in data.loaded_cpu) {
                                
                                data_hosts.push(i);
                                data_cpu.push(data.loaded_cpu[i]);
                                
                            }
                            
                            chart_servers_loaded.data.labels=data_hosts;
                            
                            chart_servers_loaded.data.datasets[0].data=data_cpu;
                            //chart.data.datasets[0].data[5] = 80;
                            //chart.data.labels[5] = "Newly Added";
                            
                            chart_servers_loaded.update();
                            
                            //CPU average use.
                            
                            avg_cpu=data.avg_cpu;
                            subs_cpu=100-avg_cpu;
                            
                            data_types_cpu=[avg_cpu, subs_cpu];
                            
                            chart_medium_cpu.data.datasets[0].data=data_types_cpu;
                            
                            chart_medium_cpu.update();
                            
                            // Network update
                            
                            console.log('updating net chart');
                            
                            final_net_date={'send': [], 'recv': []}
            
                            labels=[]
                            
                            for(i in data.net_info) {
                            
                                labels.push(i);
                                
                                final_net_date['send'].push(data.net_info[i]['send'].reduce((a, b) => a + b, 0));
                                final_net_date['recv'].push(data.net_info[i]['recv'].reduce((a, b) => a + b, 0));
                            
                            }
                            
                            chart_net.data.labels=labels;
                            
                            chart_net.data.datasets[0].data=final_net_date['recv'];
                            chart_net.data.datasets[1].data=final_net_date['send'];
                            
                            chart_net.update();
                            
                        },
                        error: function (data) {
                            
                        }
                    });
                    
                    
                }, 60020);
        
        },
        error: function (data) {
        
            
        
        },
        dataType: 'json'
    });
    
});
    </script>
</%block>
