<%inherit file="dashboard.phtml"/>
<%block name="content">
<p><a href="${url_for('.monit_servers')}">${lang('monit', 'servers', 'Servers')}</a> &gt;&gt; ${server['hostname']}</p>
<h2>${server['hostname']}</h2>
<div class="title">
    ${lang('monit', 'edit_server', 'Edit server')}
</div>
<div class="cont form">
    <form method="post" name="edit_server_form" id="edit_server_form">
        <p><label for="group">${lang('monit', 'group', 'Group')}:</label><select name="group" id="group_servers"></select></p>
        <p><input type="submit" value="${lang('monit', 'save', 'Save')}" />
        <input type="hidden" name="server_id" value="${server['id']}"/>
    </form>
    <p id="edit_server_success" style="display:none;"><strong>${lang('monit', 'success!', 'Success!')}</strong></p>
</div>
<p><a href="">${lang('monit', 'servers', 'Servers')}</a> &gt;&gt; ${server['hostname']}</p>
</%block>
<%block name="jscript_block">
<script language="Javascript" src="${make_media_url('js/jquery.min.js', 'admin')}"></script>
<script language="Javascript" src="${make_media_url('js/jsutils/posting2.js', 'monit')}"></script>
<script>

    $.ajax({
        url: "${url_for('.get_groups')}",
        data: {},
        success: function (data) {
            
            $('#group_servers').html('<option value="">No group</option>');
            
           //console.log(data);
           for(i in data) {
           
              $('#group_servers').append('<option value="'+data+'">'+data+'</option>');
              
            }
            
            $('#group_servers option[value="${server['group']}"]').prop('selected', true)
            
        },
        dataType: 'json'
    });
    
options={url: "${url_for('admin_app.edit_server_save')}", loading: '#layer_loading', success: function (data) {
    
        $('#edit_server_success').show();
        /*console.log('#'+data.type_alert+'_option');
        $('#'+data.type_alert+'_option').remove();*/
        
        setTimeout(function () {
            
            $('#edit_server_success').fadeOut();
            
        }, 3000);
    
    }
};

$('#edit_server_form').sendPost(options);

</script>
</%block>
