${add_js('Chart.min.js', 'monit')}
<div class="first_canvas" style="width:100%;" >
    <canvas id="cpu_canvas"></canvas>
</div>
<script>
    
cpu_line=new Object;

function init_cpu() {

    var background_in="#007bff";

    var config_cpu = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: "CPU idle",
                data: [],
                fill: false,
                borderColor: background_in,
                backgroundColor: background_in,
                pointBorderColor: background_in,
                pointBackgroundColor: background_in,
                pointRadius: 0
                /*pointRadius: 1,
                lineTension: 0.5,*/
                //borderDash: [5, 5],
            }]
        },
        options: {
            showXLabels: 10,
            animation : false,
            responsive: true,
            legend: {
                position: 'bottom',
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                    ticks: {
                        maxTicksLimit: 8,
                        
                        // Return an empty string to draw the tick line but hide the tick label
                        // Return `null` or `undefined` to hide the tick line entirely
                           userCallback: function(value, index, values) {
                            return value;
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'CPU idle %'
                    },
                    ticks: {
                        max: 100,
                        min: 0
                        
                    }
                }]
            },
            title: {
                display: true,
                text: 'Use of CPU in this server'
            }
        }
    };

    var ctx_cpu = document.getElementById("cpu_canvas").getContext("2d");
    chart_cpu = new Chart(ctx_cpu, config_cpu);

}

function update_cpu(cpu_data) {

    
    var arr_date=[];
    var arr_cpu=[];

    for(i in cpu_data) {
        
        arr_date.push(cpu_data[i].date);
        arr_cpu.push(cpu_data[i].data.cpu_idle);
        
    }
    
    chart_cpu.data.labels=arr_date;
        
    chart_cpu.data.datasets[0].data=arr_cpu;
    
    chart_cpu.update();

}

</script>
