${add_js('Chart.min.js', 'monit')}
<div class="first_canvas" style="width:100%;" >
    <canvas id="mem_canvas"></canvas>
</div>
<script>

function init_mem() {

    var background_out="#28a745";
    var background_in="#007bff";

    var config_mem = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: "Used",
                data: [],
                fill: false,
                borderColor: '#dd0000',
                backgroundColor: '#dd0000',
                pointBorderColor: '#dd0000',
                pointBackgroundColor: '#dd0000',
                pointRadius: 0,
                /*lineTension: 0.5,*/
                //borderDash: [5, 5],
            }
            ,{
                label: "Free",
                data: [],
                fill: false,
                lineTension: 0.5,
                //borderDash: [5, 5],
                borderColor: background_out,
                backgroundColor: background_out,
                pointBorderColor: background_out,
                pointBackgroundColor: background_out,
                /*pointBorderWidth: 1,*/
                pointRadius: 0
            },
            {
                label: "Cached",
                data: [],
                fill: false,
                lineTension: 0.5,
                //borderDash: [5, 5],
                borderColor: background_in,
                backgroundColor: background_in,
                pointBorderColor: background_in,
                pointBackgroundColor: background_in,
                /*pointBorderWidth: 1,*/
                pointRadius: 0
            }]
        },
        options: {
            showXLabels: 10,
            animation : false,
            responsive: true,
            legend: {
                position: 'bottom',
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                    ticks: {
                        maxTicksLimit: 8,
                        
                        // Return an empty string to draw the tick line but hide the tick label
                        // Return `null` or `undefined` to hide the tick line entirely
                           userCallback: function(value, index, values) {
                            return value;
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'GigaBytes'
                    },
                    ticks: {
                        //suggestedMax: 500,
                        min: 0
                        
                    }
                }]
            },
            title: {
                display: true,
                text: 'Use of memory in this server'
            }
        }
    };

    var ctx_mem = document.getElementById("mem_canvas").getContext("2d");
    chart_mem = new Chart(ctx_mem, config_mem);

}

function update_mem(mem_data) {

    
    var arr_date=[];
    var arr_mem_used=[];
    var arr_mem_free=[];
    var arr_mem_cached=[];

    for(i in mem_data) {
        
        arr_date.push(mem_data[i].date);
        //arr_mem.push(mem_data[i].data.mem_idle);
        /*
        mem_used=((data['mem_info'][3]/1024)/1024)/1024
        mem_free=((data['mem_info'][4]/1024)/1024)/1024
        
        try:
        
            mem_cached=((data['mem_info'][8]/1024)/1024)/1024
            
        except:
            mem_cached=0*/
        
        arr_mem_used.push(((mem_data[i].data.mem_info[3]/1024)/1024)/1024);
        arr_mem_free.push(((mem_data[i].data.mem_info[4]/1024)/1024)/1024);
        arr_mem_cached.push(((mem_data[i].data.mem_info[8]/1024)/1024)/1024);
        
        
        
        
    }
    
    chart_mem.data.labels=arr_date;
        
    chart_mem.data.datasets[0].data=arr_mem_used;
    chart_mem.data.datasets[1].data=arr_mem_free;
    chart_mem.data.datasets[2].data=arr_mem_cached;
    
    chart_mem.update();

}

</script>
