${add_js('Chart.min.js', 'monit')}
<div class="first_canvas" style="width:100%;" >
    <canvas id="disk_canvas"></canvas>
</div>
<script>
    
disk_line=new Object;

function init_disk() {

    var background_in="#007bff";

    var config_disk = {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'Free space',
                borderColor: background_in,
                backgroundColor: background_in,
                data: []
            },
            {
                label: 'Used space',
                borderColor: "#dc3545",
                backgroundColor: "#dc3545",
                data: []
            }]

        },
        options: {
            elements: {
                rectangle: {
                    borderWidth: 0,
                    borderColor: 'rgb(255, 0, 0)',
                    borderSkipped: 'bottom'
                }
            },
            hover: {
                mode: 'label'
            },
            responsive: true,
            legend: {
                position: 'bottom',
            },
            title: {
                display: true,
                text: 'Disk use in GigaBytes'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            },
            scales: {
                    yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Gigabytes'
                    },
                    ticks: {
                        
                    }
                }]
            }
            
        }
    };

    var ctx_disk = document.getElementById("disk_canvas").getContext("2d");
    chart_disk = new Chart(ctx_disk, config_disk);

}

function update_disk(disk_data) {

    
    var arr_date=[];
    var arr_disk=[];
    
    /*
    config_disk.data.labels.push(data[key]['disk']);
    config_disk.data.datasets[0].data[z]=((((data[key]['free'])/1024)/1024)/1024).toPrecision(2);
    config_disk.data.datasets[1].data[z]=((((data[key]['used'])/1024)/1024)/1024).toPrecision(2);
    */

    //for(i in disk_data) {
        
        //arr_date.push(disk_data[i].date);
        //arr_disk.push(disk_data[i].data.disk_idle);
        
    //}
    
    //arr_disk.append({'disk': disk, 'used': info[1], 'free': info[2], 'percent': info[3]})
    
    var last_disk_data=disk_data[disk_data.length-1].data.disks_info;
    
    var arr_disk=[];
    
    var arr_free=[];
    var arr_used=[];
    
    console.log(last_disk_data)
    for(var i in last_disk_data) {
        
        arr_disk.push(i);
        
        //for(x in last_disk_data[i]) {
            
        var disk_free=((((last_disk_data[i][2])/1024)/1024)/1024).toPrecision(2);
        var disk_used=((((last_disk_data[i][1])/1024)/1024)/1024).toPrecision(2);
        
        arr_free.push(disk_free);
        arr_used.push(disk_used);
            
        //}
        
    }
    
    //console.log(arr_disk);
    
    chart_disk.data.labels=arr_disk;
        
    chart_disk.data.datasets[0].data=arr_free;
    chart_disk.data.datasets[1].data=arr_used;
    
    chart_disk.update();

}

</script>
