${add_js('Chart.min.js', 'monit')}
<div class="first_canvas" style="width:100%;" >
    <canvas id="net_canvas"></canvas>
</div>
<script>
    
net_line=new Object;

function init_net() {

    var background_out="#28a745";
    var background_in="#007bff";

    var config_net = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: "In",
                data: [],
                fill: false,
                borderColor: background_in,
                backgroundColor: background_in,
                pointBorderColor: background_in,
                pointBackgroundColor: background_in,
                pointRadius: 0,
                /*pointRadius: 0,
                lineTension: 0.5,*/
                //borderDash: [5, 5],
            }
            ,{
                label: "Out",
                data: [],
                fill: true,
                lineTension: 0.5,
                //borderDash: [5, 5],
                borderColor: background_out,
                backgroundColor: background_out,
                pointBorderColor: background_out,
                pointBackgroundColor: background_out,
                /*pointBorderWidth: 1,*/
                pointRadius: 0
            }]
        },
        options: {
            
            showXLabels: 10,
            animation : false,
            responsive: true,
            legend: {
                position: 'bottom',
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                    ticks: {
                        maxTicksLimit: 8,
                        
                        // Return an empty string to draw the tick line but hide the tick label
                        // Return `null` or `undefined` to hide the tick line entirely
                           userCallback: function(value, index, values) {
                            return value;
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'KiloBytes'
                    },
                    ticks: {
                        suggestedMax: 500,
                        min: 0
                        
                    }
                }]
            },
            title: {
                display: true,
                text: 'Use of network in this server'
            }
        }
    };

    var ctx_net = document.getElementById("net_canvas").getContext("2d");
    chart_net = new Chart(ctx_net, config_net);

}

function update_net(net_data) {

    //console.log(net_data);
    //net=JSON.parser(net_data.data);
    
    //var net_info=net_data;
    
    var net_info_one=net_data[0].data.net_info;
    
    var arr_date=[];
    var arr_sent=[];
    var arr_recv=[];
    
    //console.log(net_info);
    
    if(net_info_one!=undefined) {
        
        first_sent=net_info_one[0];
        first_recv=net_info_one[1];
        
        for(x=1;x<net_data.length;x++) {
            
            //console.log(net_data[i]);
            var net_info=net_data[x].data.net_info;
            
            //console.log(net_info);
            bytes_sent=Math.round((net_info[0]-first_sent)/1024)
            bytes_recv=Math.round((net_info[1]-first_recv)/1024)
            
            first_sent=net_info[0]
            first_recv=net_info[1]
            
            arr_date.push(net_data[x].date);
            
            arr_sent.push(bytes_sent);
            arr_recv.push(bytes_recv);
            
        }
        
        //net_line.
        
        chart_net.data.labels=arr_date;
        
        chart_net.data.datasets[0].data=arr_recv;
        chart_net.data.datasets[1].data=arr_sent;
        
        chart_net.update();

    }

}

</script>
