<%inherit file="dashboard.phtml"/>
<%block name="content">
<p>${lang('monit', 'choose_group', 'Choose group')}: 
<select name="group_servers" id="group_servers">

</select>
</p>
<!--<table class="table_list" id="servers_list">
    <tr class="title_list">
        <td>${lang('monit', 'server', 'Server')}</td>
        <td>${lang('monit', 'ip', 'IP')}</td>
        <td>${lang('monit', 'status', 'Status')}</td>
    </tr>
</table>-->
<div id="table_servers">
</div>
</%block>
<%block name="jscript_block">
<script language="Javascript" src="${make_media_url('js/jsutils/ajax_list.js', 'monit')}"></script>
<script>

$(document).ready(function () {

    options={'url': "${url_for('.get_servers')}", extra_data: {'group_code': $('#group_servers').val()}};    

    alist=$('#table_servers').ajaxList('table_list', options);

    setInterval( function () {

        $.ajax({
            url: "${url_for('.update_status')}",
            data: {},
            success: function (data) {
                
               $('.ip_td').each( function () {
                   
                    ip=$(this).children('span').html();
                    
                    if(data.hasOwnProperty(ip)) {
                        
                        console.log(data[ip].cpu_info);
                        
                        $(this).closest('.row_list').find('.date_td').html(data[ip].status);
                        $(this).closest('.row_list').find('.data_td').html(data[ip].cpu_info);
                        
                    }
                   
               });
                
            },
            dataType: 'json'
        });
        

        update_groups();

    }, 60000);


    function update_groups() {

        $.ajax({
            url: "${url_for('.get_groups')}",
            data: {},
            success: function (data) {
                
                $('#group_servers').html('<option value="">All groups</option>');
                
               //console.log(data);
               for(i in data) {
               
                  $('#group_servers').append('<option value="'+data[i]+'">'+data[i]+'</option>');
                  
                }
                
            },
            dataType: 'json'
        });
        
    }

    update_groups();

    $('#group_servers').click(function () {
        
        options={'url': "${url_for('.get_servers')}", extra_data: {'group_code': $('#group_servers').val()}};    
       
        alist.updateAjax('table_list', options, 0);       

    });

});

</script>
</%block>
