<%inherit file="dashboard.phtml"/>
<%block name="content">
<p><a href="${url_for('.monit_servers')}">${lang('monit', 'servers', 'Servers')}</a> &gt;&gt; ${server['hostname']}</p>
<h2>${server['hostname']}</h2>
<div class="title">
    ${lang('monit', 'stats', 'Stats')}
</div>
<div class="cont">
${html_graphs|n}
</div>
<p><a href="">${lang('monit', 'servers', 'Servers')}</a> &gt;&gt; ${server['hostname']}</p>
</%block>
<%block name="jscript_block">
<script>

//init js

%for graph in graphs:

${graph[1]}();

% endfor

//Update graphs

data_server={};

function update_data() {
    
    //Get data
    
    $.ajax({
        url: "${url_for('admin_app.get_server_data', server_id=server['id'])}",
        data: {},
        success: function (data) {
            
            //console.log(data);
            data_server=data;
            
            //Update graphs
    
            %for graph in graphs:
            
            ${graph[2]}(data_server);
            
            % endfor
            
        },
        dataType: 'json'
    });
    
}

update_data();

setInterval( function () {
    
    console.log('Updating data...');
    
    update_data();
    
}, 60000 );

</script>
</%block>
